<!-- Start Navbar -->
<ngx-navbar *ngIf="showNavbar"></ngx-navbar>
<!-- End of Navbar -->

<!-- Start Header Admin -->
<ngx-header-admin *ngIf="showHeaderAdmin"></ngx-header-admin>
<!-- End of Header Admin -->

<!-- Start Slidebar Admin -->
<ngx-slidebar-admin *ngIf="showSlideBarAdmin"></ngx-slidebar-admin>
<!-- End of Slidebar Admin -->

<!-- Start Main -->
<router-outlet></router-outlet>
<!-- end Main -->

<!-- Start Footer -->
<ngx-footer *ngIf="showFooter"></ngx-footer>
<ngx-footer-admin *ngIf="showFooterAdmin"></ngx-footer-admin>
<!-- end of Footer -->
